<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyshop.system.mapper.SequenceMapper">
    <resultMap type="Sequence" id="SequenceResult">
        <result property="sequenceCode"    column="sequence_code"    />
        <result property="sequenceYear"    column="sequence_year"    />
        <result property="sequenceMonth"    column="sequence_month"    />
        <result property="sequenceDay"    column="sequence_day"    />
        <result property="sequenceValue"    column="sequence_value"    />
        <result property="activeFlag"    column="active_flag"    />
        <result property="createdBy"    column="created_by"    />
        <result property="createdDate"    column="created_date"    />
        <result property="lastUpdBy"    column="last_upd_by"    />
        <result property="lastUpdDate"    column="last_upd_date"    />
        <result property="version"    column="version"    />
    </resultMap>

    <sql id="selectSequenceVo">
        select sequence_code, sequence_year, sequence_month, sequence_day, sequence_value, active_flag, created_by, created_date, last_upd_by, last_upd_date, version from sys_sequence
    </sql>

    <select id="getSysSequenceValueByYear" resultMap="SequenceResult" parameterType="java.lang.String">
        <include refid="selectSequenceVo"/>
        where sequence_code = #{sequenceCode}
        AND sequence_year = #{sequenceYear}
    </select>

    <select id="getSysSequenceValueByYearMonthDay" resultMap="SequenceResult" parameterType="java.lang.String">
        <include refid="selectSequenceVo"/>
        where sequence_code = #{sequenceCode}
        AND sequence_year = #{year}
        AND sequence_month = #{month}
        AND sequence_day = #{day}
    </select>

    <select id="selectSequenceList" parameterType="Sequence" resultMap="SequenceResult">
        <include refid="selectSequenceVo"/>
        <where>
            <if test="sequenceCode != null  and sequenceCode != '' "> and sequence_code = #{sequenceCode}</if>
            <if test="sequenceYear != null "> and sequence_year = #{sequenceYear}</if>
            <if test="sequenceMonth != null "> and sequence_month = #{sequenceMonth}</if>
            <if test="sequenceDay != null "> and sequence_day = #{sequenceDay}</if>
            <if test="sequenceValue != null "> and sequence_value = #{sequenceValue}</if>
            <if test="activeFlag != null  and activeFlag != '' "> and active_flag = #{activeFlag}</if>
            <if test="createdBy != null  and createdBy != '' "> and created_by = #{createdBy}</if>
            <if test="createdDate != null "> and created_date = #{createdDate}</if>
            <if test="lastUpdBy != null  and lastUpdBy != '' "> and last_upd_by = #{lastUpdBy}</if>
            <if test="lastUpdDate != null "> and last_upd_date = #{lastUpdDate}</if>
            <if test="version != null "> and version = #{version}</if>
        </where>
    </select>

    <select id="selectSequenceById" parameterType="String" resultMap="SequenceResult">
        <include refid="selectSequenceVo"/>
        where sequence_code = #{sequenceCode}
    </select>

    <insert id="insertSequence" parameterType="Sequence">
        insert into sys_sequence
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sequenceCode != null  and sequenceCode != ''  ">sequence_code,</if>
            <if test="sequenceYear != null  ">sequence_year,</if>
            <if test="sequenceMonth != null  ">sequence_month,</if>
            <if test="sequenceDay != null  ">sequence_day,</if>
            <if test="sequenceValue != null  ">sequence_value,</if>
            <if test="activeFlag != null  and activeFlag != ''  ">active_flag,</if>
            <if test="createdBy != null  and createdBy != ''  ">created_by,</if>
            <if test="createdDate != null  ">created_date,</if>
            <if test="lastUpdBy != null  and lastUpdBy != ''  ">last_upd_by,</if>
            <if test="lastUpdDate != null  ">last_upd_date,</if>
            <if test="version != null  ">version,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sequenceCode != null  and sequenceCode != ''  ">#{sequenceCode},</if>
            <if test="sequenceYear != null  ">#{sequenceYear},</if>
            <if test="sequenceMonth != null  ">#{sequenceMonth},</if>
            <if test="sequenceDay != null  ">#{sequenceDay},</if>
            <if test="sequenceValue != null  ">#{sequenceValue},</if>
            <if test="activeFlag != null  and activeFlag != ''  ">#{activeFlag},</if>
            <if test="createdBy != null  and createdBy != ''  ">#{createdBy},</if>
            <if test="createdDate != null  ">#{createdDate},</if>
            <if test="lastUpdBy != null  and lastUpdBy != ''  ">#{lastUpdBy},</if>
            <if test="lastUpdDate != null  ">#{lastUpdDate},</if>
            <if test="version != null  ">#{version},</if>
        </trim>
    </insert>

    <update id="updateSequence" parameterType="Sequence">
        update sys_sequence
        <trim prefix="SET" suffixOverrides=",">
            <if test="sequenceYear != null  ">sequence_year = #{sequenceYear},</if>
            <if test="sequenceMonth != null  ">sequence_month = #{sequenceMonth},</if>
            <if test="sequenceDay != null  ">sequence_day = #{sequenceDay},</if>
            <if test="sequenceValue != null  ">sequence_value = #{sequenceValue},</if>
            <if test="activeFlag != null  and activeFlag != ''  ">active_flag = #{activeFlag},</if>
            <if test="createdBy != null  and createdBy != ''  ">created_by = #{createdBy},</if>
            <if test="createdDate != null  ">created_date = #{createdDate},</if>
            <if test="lastUpdBy != null  and lastUpdBy != ''  ">last_upd_by = #{lastUpdBy},</if>
            <if test="lastUpdDate != null  ">last_upd_date = #{lastUpdDate},</if>
            <if test="version != null  ">version = #{version},</if>
        </trim>
        where sequence_code = #{sequenceCode}
    </update>

    <delete id="deleteSequenceById" parameterType="String">
        delete from sys_sequence where sequence_code = #{sequenceCode}
    </delete>

    <delete id="deleteSequenceByIds" parameterType="String">
        delete from sys_sequence where sequence_code in
        <foreach item="sequenceCode" collection="array" open="(" separator="," close=")">
            #{sequenceCode}
        </foreach>
    </delete>

</mapper>