<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('支付记录列表')" />
</head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								支付流水号：<input type="text" name="paySn"/>
							</li>

							<li>
								支付人：<input type="text" name="payMan"/>
							</li>

							<li>
								支付时间：<input type="text" name="payDate"/>
							</li>

							<li>
								支付金额：<input type="text" name="payAmount"/>
							</li>

							<li>
								支付类型：<input type="text" name="payType"/>
							</li>

							<li>
								：<input type="text" name="createBy"/>
							</li>

							<li>
								：<input type="text" name="createDate"/>
							</li>

							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:clientPay:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:clientPay:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:clientPay:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:clientPay:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:clientPay:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:clientPay:remove')}]];
        var prefix = ctx + "system/clientPay";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "支付记录",
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'payId', 
					title : '支付id',
					visible: false
				},
				{
					field : 'paySn', 
					title : '支付流水号',
					sortable: true
				},
				{
					field : 'payMan', 
					title : '支付人',
					sortable: true
				},
				{
					field : 'payDate', 
					title : '支付时间',
					sortable: true
				},
				{
					field : 'payAmount', 
					title : '支付金额',
					sortable: true
				},
				{
					field : 'payType', 
					title : '支付类型',
					sortable: true
				},
				{
					field : 'createBy', 
					title : '',
					sortable: true
				},
				{
					field : 'createDate', 
					title : '',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.payId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.payId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>