<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改订单')" />
	<th:block th:include="include :: select2-css"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<div class="col-sm-6">
			<form class="form-horizontal m" id="form-shopOrder-edit" th:object="${shopOrder}">
				<input id="orderId" name="orderId" th:field="*{orderId}"  type="hidden">
				<div class="form-group">
					<label class="col-sm-3 control-label">流水号：</label>
					<div class="col-sm-8">
						<label id="orderSn" name="orderSn" th:text="*{orderSn}" class="form-control" ></label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">会员：</label>
					<div class="col-sm-8">
						<label id="clientName" name="clientName" th:text="*{@client.getClientName(clientId)}" class="form-control" ></label>
						<input id="clientId" name="clientId" th:field="*{clientId}"  type="hidden">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">制单人：</label>
					<div class="col-sm-8">
						<label id="createBy" name="createBy" th:text="*{@user.getUserName(createBy)}"
							   class="form-control"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">创建时间：</label>
					<div class="col-sm-8">
						<label id="createTime" name="payDate"
							   th:text="*{#dates.format(createTime,'yyyy-MM-dd HH:mm:ss')}"
							   class="form-control"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">状态：</label>
					<div class="col-sm-8">
						<label id="status" name="status" th:text="*{@dict.getLabel('order_status',status)}" class="form-control"></label>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">折扣：</label>
					<div class="col-sm-8">
						<input id="orderDiscount" name="orderDiscount" th:field="*{orderDiscount}" class="form-control" type="text" oninput="getTotalAmount()">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">金额：</label>
					<div class="col-sm-8">
						<input id="orderAmount" name="orderAmount" th:field="*{orderAmount}" class="form-control" type="text" readonly>
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>服务项目</h5>
				</div>
				<div class="ibox-content">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-inline">
								<div class="form-group" style="width: 200px;">
									<select id="itemId" class="form-control select2-hidden-accessible">
										<option> 请选择 </option>
									</select>
								</div>
								<div class="form-group">
									<input type="number" placeholder="请输入数量" id="itemNum"
										   class="form-control">
								</div>
								<div class="form-group">
									<button class="btn btn-primary" type="button" onclick="addShopItem()">添加</button>
								</div>
							</div>
						</div>
					</div>
					<div class="hr-line-dashed"></div>
					<div class="row">
						<div class="col-sm-12">
							<ul id="itemList" class="list-group">

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
    <div th:include="include::footer"></div>
	<th:block th:include="include :: select2-js"/>
    <script th:inline="javascript">
        var shopItemList = [];
        var shopItem = {};
        var totalAmount = 0;
        var index = 0;

		var prefix = ctx + "system/shopOrder";

        $("#itemId").empty();
        $(function () {
            $("#itemId").select2({
                placeholder: {
                    id: '-1', // the value of the option
                    text: '请输入项目名称/速记码'
                },
                allowClear: false,
                tags: false,
                ajax: {
                    url: "/system/shopItem/ajaxList",
                    type: "POST",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            searchValue:params.term
                        };
                    },
                    processResults: function (data) {
                        if (data.code === 0) {
                            var dataList = data.data.items;
                            var items = [];
                            for(var i=0; i<dataList.length; i++){
                                items.push({id: dataList[i].itemId, text: dataList[i].itemName, itemPrice: dataList[i].itemPrice})
                            }
                            return {
                                results: items
                            };
                        }
                    },
                    cache: true
                },
                escapeMarkup: function (markup) { return markup; },
                minimumInputLength: 1,
                templateResult: function repo(repo){
                    return repo.text;
                },
                templateSelection:function formatSelectRepo(repo){
                    shopItem = repo;
                    return repo.text;
                }
            });

            shopItemList = [[${shopOrder.shopOrderItems}]];
            initShopItem(shopItemList);
        });

        function initShopItem(itemList) {

            var itemListDom = $("#itemList");
            for (var i = 0; i < shopItemList.length; i++) {
                index ++;
                var itemId = itemList[i].shopItemId;
                var itemName = itemList[i].shopItemName;
                var itemNum = itemList[i].itemNum;
                var itemPrice = itemList[i].itemPrice;
                var sumPrice = itemList[i].itemPrice * itemNum;

                totalAmount = totalAmount + sumPrice;

                var item =  '<li id="itemLi_'+ itemId + index +'" class="list-group-item"><div class="row"><div class="col-lg-6">' +
                    '<h3>'+ itemName +'</h3>' +
                    '<small class="block text-muted">' + itemPrice.toFixed(2) +' * ' + itemNum +' </small>' +
                    '</div>' +
                    '<div class="col-lg-4">' +
                    '<h2 class="text-danger">' + sumPrice.toFixed(2) + '</h2>' +
                    '</div>' +
                    '<div class="col-lg-2">' +
                    '<a class="btn btn-danger" onclick="removeShopItem(\''+itemId + '\',\'' + index+'\')">' +
                    '<i class="fa fa-times"></i>删除' +
                    '</a>' +
                    '</div>' +
                    '</div></li>';
                itemListDom.append(item);
                $("#itemNum").val("");
                getTotalAmount();
			}
        }

        function addShopItem() {

            index ++;
            var itemListDom = $("#itemList");
            var itemId = $("#itemId option:checked").val();
            var itemName = $("#itemId option:checked").text();
            var itemNum = parseInt($("#itemNum").val());
            var sumPrice = shopItem.itemPrice * itemNum;

            shopItem.itemIndex = index;
            shopItem.sumPrice = sumPrice;
            shopItem.shopItemId = itemId;
            shopItem.shopItemName = itemName;
            shopItem.itemNum = itemNum;
            totalAmount = totalAmount + sumPrice;
            shopItemList.push(shopItem);

            var item =  '<li id="itemLi_'+ itemId + index +'" class="list-group-item"><div class="row"><div class="col-lg-6">' +
                '<h3>'+ itemName +'</h3>' +
                '<small class="block text-muted">' + shopItem.itemPrice.toFixed(2) +' * ' + itemNum +' </small>' +
                '</div>' +
                '<div class="col-lg-4">' +
                '<h2 class="text-danger">' + sumPrice.toFixed(2) + '</h2>' +
                '</div>' +
                '<div class="col-lg-2">' +
                '<a class="btn btn-danger" onclick="removeShopItem(\''+itemId + '\',\'' + index+'\')">' +
                '<i class="fa fa-times"></i>删除' +
                '</a>' +
                '</div>' +
                '</div></li>';
            itemListDom.append(item);
            $("#itemNum").val("");

            getTotalAmount();

        }


		$("#form-shopOrder-edit").validate({
			rules:{
                orderDiscount:{
					required:true,
				},
			},
			focusCleanup: true
		});

        function removeShopItem(id, index) {
            var item = $("#itemLi_"+id+index);
            item.remove();
            var newList = [];
            for (var i = 0; i < shopItemList.length; i++) {
                if (id !== shopItemList[i].id && index !== shopItemList[i].itemIndex) {
                    newList.push(shopItemList[i]);
                } else {
                    totalAmount = totalAmount - shopItemList[i].sumPrice;
                }
            }
            shopItemList = newList;
            getTotalAmount();
        }

        function getTotalAmount() {
            if ($("#orderDiscount").val()) {
                var orderDiscount = parseFloat($("#orderDiscount").val());
                var orderAmount = parseFloat((totalAmount * orderDiscount).toFixed(2));
                $("#orderAmount").val(orderAmount);
			}

        }

        function submitHandler() {
            if ($.validate.form()) {
                var list = [];
                for (var i = 0; i < shopItemList.length; i++) {
                    var item = {};
                    item.shopItemId = shopItemList[i].shopItemId;
                    item.shopItemName = shopItemList[i].shopItemName;
                    item.itemNum = shopItemList[i].itemNum;
                    item.itemPrice = shopItemList[i].itemPrice;
                    list.push(item);
                }
                var data = $("#form-shopOrder-edit").serialize();
                $.operate.save(prefix + "/edit", data + "&" + "shopOrderItemsStr=" + JSON.stringify(list));
            }
        }
	</script>
</body>
</html>
